body{
background:#fff url('../img/well.png') repeat;
padding-top:40px;
font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
-webkit-animation-delay: 10s;
-moz-animation-delay: 10s;
-o-animation-delay: 10s;
-ms-animation-delay: 10s;
animation-delay: 10s;
color:#666;
font-size:13px;
line-height:25px;
}

h1,h2,h3,h4,h5,h6{
font-family: "Droid Serif", Georgia, "Times New Roman", serif;
font-weight:normal;
-webkit-animation-delay: 10s;
-moz-animation-delay: 10s;
-o-animation-delay: 10s;
-ms-animation-delay: 10s;
animation-delay: 10s;
}

h1{
font-size:50px;
line-height:75px;
}

h2{
font-size:35px;
line-height:45px;
}

h3{
font-size:22px;
line-height:28px;
}

h4{
font-size:18px;
line-height:24px;
}

h5{
font-size:14px;
line-height:20px;
}

p{
margin:5px 0px;
}

a, a:visited{
color:#557d0d;
}

a:hover{
color:#406903;
}

form{
margin:15px 0px;
margin-left:-15px;
}

.btn-sm{
	margin-left:0px;
}

.border{
height:20px;
}

.color{
color:#406903;
}

a:hover,a:active,a:focus {
outline: 0;
}

:focus {outline:none;}

::-moz-focus-inner {border:0;}

.well{
background:url('../img/grey.png') repeat;
border-radius:15px;
border:1px solid #ddd;
padding:10px 20px;
box-shadow:inset 0px 0px 1px #ccc;
}

.bor{
background:url('../img/bor.png') no-repeat;
height:20px;
width:240px;
margin:0 auto;
}

.itop{
width:20px;
margin:0 auto;
text-align:center;
position:relative;
top:-32px;
border:1px solid #ddd;
height:20px;
background:#eee;
border-radius:30px;
font-size:12px;
line-height:16px;
}

.itop a{
color:#aaa;
}

.itop a:hover{
text-decoration:none;
}

/* Image alignment*/

.alignleft, img.alignleft {
margin-right: 8px;
margin-top:5px;
display: inline;
float: left;
}

.alignright, img.alignright {
margin-left: 8px;
margin-top:5px;
display: inline;
float: right;
}
   
.aligncenter, img.aligncenter {
margin-right: auto;
margin-left: auto;
display: block;
clear: both;
}

.button{
margin:10px 0px;
}

.button a, .button a:visited{
background:#224004;
color:#fff;
width:100px;
padding:6px 15px;
font-size:14px;
font-weight:700;
border-radius:5px;
border-bottom:2px solid #152e06;
}

.button a:hover{
background:#152e06;
text-decoration:none;
}

.container{
	width:1000px;
}

/* Navigation */

.navbar{
border-radius:0px;
background: #557d0d !important; 
background-image: none;
background-repeat: no-repeat;
filter: none !important;
border:none !important;
border-bottom:1px solid #000 !important;
}

.navbar .nav, .navbar .nav > li {
float:none;
display:inline-block;

vertical-align: top;
}

.navbar {
text-align:center;
}

.navbar button{
background:#406903 !important; 
padding:7px; 
border:none;
}

.navbar button:hover{
background:#406903 !important;
}

.navbar .caret{
border-top-color:#fff !important;
border-bottom-color:#fff !important;
}

.navbar .nav > li > a{
padding: 14px 15px 15px; 
color:#fff !important;
text-shadow:none !important;
font-size:15px;
font-weight:700 !important;
}

.navbar .nav > li > a:hover{
background:#406903 !important;
color:#fff !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
color: #ffffff;
box-shadow:none;
background: #406903 !important;
}

.dropdown-toggle{
background: #406903 !important;
}

.navbar-collapse a{
font-weight:normal !important;
text-shadow:none !important;
}

.dropdown-menu{
background:#406903 !important;
}

.dropdown-menu a{
color:#fff !important;
text-shadow:none !important;
}

.dropdown-menu a:hover{
filter:none !important;
background:#406903 !important;
}

/* Header */

header{
//background:#6A9217 url('../img/green.jpg') no-repeat scroll top;
 	

/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #BED261 0%, #5F8A07 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #BED261 0%, #5F8A07 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #BED261 0%, #5F8A07 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #BED261), color-stop(1, #5F8A07));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #BED261 0%, #5F8A07 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #BED261 0%, #5F8A07 100%);
min-height:550px;
text-align:center;
padding-top:70px;
color:#fff;
margin-bottom:20px;
border-bottom:1px solid #000;
}

header h1{
text-shadow:0px 0px 1px #000;
}

header h2 span{
color:#777;
}

header .well{
color:#666;
background:#fff url('../img/well.png') repeat;
padding:13px 15px;
box-shadow:inset 0px 0px 2px #111;
border:1px solid #406903;
display:inline-block;
border-radius:10px;
max-width:600px;
font-size:13px;
line-height:24px;
}

header h3{
font-size:18px;
line-height:23px;
}

/* Head */

.head{
text-align:center;
margin-bottom:20px;
}

/* Slider */


.flexslider  ul li{
background-image:none;
padding:0px;
}

.flexslider{
margin-top:10px;
margin-bottom:15px;
border:1px solid #bbb;
padding:1px;
border-radius:0px;
box-shadow:none;
}

.flexslider .flex-control-nav{
bottom:0px;
}

.flex-control-paging li a{
background:#fff;
box-shadow:0px 0px 3px #555;
}

.flex-control-paging li a:hover{
background:#ccc;
}

.flex-control-paging li a.flex-active{
background:#ccc;
}

.flexslider .slides > li {
position:relative;
}

.flex-caption{
	width: 80%;
	padding: 10px;
	margin: 0 0 40px 40px;
	background-color: #222;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
}

.flex-caption h3 {
font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	color: #fff;
	padding-bottom: 5px;
	margin:0;
   margin-bottom:3px;
}

.flex-caption h3 span{
   padding-bottom:3px;
}
	
.flex-caption p {
	margin:0;
	line-height: 19px;
	color: #ddd;
}

/* About */

.about{
padding:10px 20px;
background:#fafafa url('../img/wave.png') repeat;
border:1px solid #eee;
border-radius:10px;
margin-bottom:10px;
}

.about img{
float:left;
margin-top:8px;
margin-right:8px;
border:1px solid #ccc;
box-shadow:inset 0px 0px 3px #ccc;
background:#fff;
}

.about h3{
font-weight:700;
}

.about .ameta{
color:#888;
font-weight:normal;
font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
font-size:13px;
line-height:20px;
}

/* banner */
.well img{
    margin: 10px 0 20px 0;
}

/* button */

a.action-button:hover {
 opacity:1;
    
}

a.action-button {
padding: 25px 33px;
font-size: 30px;
color: #fff;
display: inline-block;
background-color: #e31212;
text-decoration: none;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
    margin: 30px;
    opacity:0.8;
}

a.small-button{
    padding: 18px 26px;
    font-size: 18px;
}

/* Wedding */

.wedding{
padding:10px 20px;
background:#fafafa url('../img/wave.png') repeat;
border-radius:10px;
margin-bottom:10px;
border:1px solid #eee;
}

.wedding h4 i{
margin-top:4px;
margin-right:2px;
}

/*
.col3{width:20%;float:left;margin-left:3.5%;}
.col6{width:45%;float:left;margin-left:5%;}
.col10 {width:75%;float:left;margin-left:5%;}*/
.solouna{border-bottom:1px solid #EEEEEE;background:#C1CEA0;font-size: 20px; padding-top: 5px; padding-bottom: 5px; text-align:center}
/*
.solouna .col2{margin-left:0.7%;width:6.5%}
.solouna .col10 span{text-align:center;width:100%;}
.col2{width:14%;float:left;margin-left:1.5%}
.col4{width:30%;float:left;margin-left:3.33}
.aligncenter2 span{text-align:center;}
*/
.columna0{background-color:#000; color: #FFF;margin-top: 3px}
.columna1{background:#5A81C1;color:#ffffff;margin-top: 3px}
.columna1 a { color: #EEE }
.columna1 span{color:#ffffff;margin-top: 3px}
.columna2{background:#F7C640;margin-top: 3px}
/*.col6.columna1{margin-left:2.3%;}*/
#tablaprograma {font-size:14px}
#tablaprograma div{border-radius:4px}
#tablaprograma div span{margin-top:8px}
#cabecera span{font-size:20px;line-height:24px;width:100%;}
.columna1 small {color: #e31212;}
/* Form */

form button{
margin-left:15px;
}

.patrocinadores p , .colaboradores p {

  text-align: center;
}

.patrocinadores p a img {

  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.rrss {
	float: right;
}

/* Footer */

#map {

  height: 300px;
}


/* Responsive */

@media (max-width: 480px){
    .well img{
        height: 70px;
    }
   header{
   padding-top:20px !important;
   }
   .navbar .nav, .navbar .nav > li {
   float:left;
   display:block;
   }  
   .navbar{
   text-align:left;
   }
   .flex-caption{
   display:none;
   }
    a.action-button {
        padding: 20px 28px;
        font-size: 20px;
    }

    a.small-button{
        padding: 18px 26px;
        font-size: 18px;
    }
}

@media (max-width: 767px){
    .well img{
        height: 100px;
    }
   .container{
	width:100%;
   }
   header{
   padding-top:50px;
   }
   header h1{
   font-size:35px;
   line-height:53px;
   text-shadow:none;
   }
   header .well{
   margin:5px 10px;
   }
   .navbar .nav, .navbar .nav > li {
   float:none;
   display:block;;
   }  
   .navbar{
   text-align:left;
   }  
    
   .wedding{
   text-align:center;
   max-width:350px;
   margin:10px auto;
   }   
   form button{
   margin-left:0px;
   }
    a.action-button {
        padding: 23px 30px;
        font-size: 25px;
    }

    a.small-button{
        padding: 18px 26px;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 979px){
   .container{
	width:100%;
   }
    .well img{
        height: 120px;
    }
   
   
   .navbar{
   text-align:center;
   }
    a.action-button {
        padding: 25px 33px;
        font-size: 30px;
    }

    a.small-button{
        padding: 18px 26px;
        font-size: 18px;
    }
  
}
